@{
    ViewBag.Title = "Home Page";
}

<main>
    <br /><br />
    <h4>RESUME MANAGEMENT</h4>
    <br /><br />
    <h3>WELCOME TO MY SITE.....</h3>
    <br />
    <br />
    <h5>IsDB BISEW IT SCHOLARSHIP PROJECT</h5>
    <br />
    <h6>MVC CODE FIRST MASTER DETAILS PROJECT</h6>
    
</main>